<div class="container" ng-controller="MainCtrl"><br/>
	<div id="user">
		<button ng-click="main.signOut()" id="signOut" type="button" class="btn btn-link right">Signout</button>
		<h2 id="userName"  class="textLeft">Signin as "{{main.info.name}}"<h2/>
		<a class="left"  href="/#/profile" id="bottle">
			<img id="icon" ng-src="{{main.info.avatar}}" class="img-rounded"/><br/>
			<h5><span class="glyphicon glyphicon-user"></span> Go to My Page</h5>
		</a>
		<h5 style="display:inline;">Time Stamp:</h5>
		<h5 id="date" style="display:inline;"></h5>
	</div><br/>

        <div class="row">
		<div class="col-xs-12">
			<button ng-click="main.connect()" id="connectButton" type="button" class="right btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Signin</button>
		</div>
	</div><br/>
	
	<!-- Tweet List -->
	<div class="panel panel-info" id="results">
		<div class="panel-heading">Tweet List</div>
		<div class="panel-body">
			<ul ng-repeat="tweet in main.tweets">
				<div class="row">
					<div class="col-xs-2 iconGroup">
						<img ng-src="{{tweet.user.profile_image_url}}" class="img-circle tweetIcon">
					</div>
					<div class="col-xs-10 tweetContents">
						<small>{{tweet.user.name}}</small>
						<br><span ng-bind-html="tweet.text">
					</div>
				<div/>
			<ul/>
		</div>
	</div>

