<div class="container" ng-controller="MainCtrl">
	<h1>My Twitter</h1>
        <div class="row">
		<div class="col-xs-12">
			<label>{{main.info.name}}</label>
			<button ng-click="main.connect()" id="connectButton" type="button" class="btn btn-primary">Signin</button>
			<button ng-click="main.refresh()" id="getTimelineButton" type="button" class="btn btn-info">Refresh</button>
			<button ng-click="main.signOut()" id="signOut" type="button" class="btn btn-link">Signout</button>
		</div>
	</div><br/>

	<div class="row">
		<div class="col-xs-12" id="results">
			<div class="row well" ng-repeat="tweet in main.tweets">
				<div class="col-xs-2">
					<img ng-src="{{tweet.user.profile_image_url}}" class="img-circle">
				</div>
				<div class="col-xs-10">
					<small>{{tweet.user.name}}</small>
					<br><span ng-bind-html="tweet.text">
				</div>
			</div>
		</div>
	</div>
</div>

