<div class="container-fluid">
	<a href="/#/"><h5><span class="glyphicon glyphicon-home"></span> Go Back to Main Page</h5></a><br/>
	<div class="row" ng-show="profile.showProfile">
		<div class="col-md-1 text-center imgWrap">
			<img ng-src="{{profile.info.avatar}}" class="img-rounded" />
			<div>
				<small>{{profile.alias}}</small>
			</div>
		</div>
		<div class="col-md-11">
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd>{{profile.info.name}}</dd>
				<dt>bio</dt>
				<dd>{{profile.info.bio}}</dd>
				<dt>location</dt>
				<dd>{{profile.info.location}}</dd>
				<dt>url</dt>
				<dd><a href="{{profile.info.url}}">{{profile.info.url}}</a></dd>
				<dt>website</dt>
				<dd><a href="{{profile.info.website}}">{{profile.info.website}}</a></dd>
			</dl>
		</div>										
	</div>
	<div class="row">
		<div class="col-md-12" ng-show="profile.showTweet">
			<form name="tweetForm" ng-submit="profile.submit()" novalidate role="form">
				<div class="form-group">
					<textarea class="form-control" name="tweet" ng-maxlength="140" ng-model="profile.inputText" ng-required="true" placeholder="Let's tweet!"></textarea>
					<div ng-if="tweetForm.tweet.$dirty" ng-messages="tweetForm.tweet.$error" role="alert">
						<div ng-message="required">Please put some words</div>
						<div ng-message="maxlength">Maximum is 140 words</div>
					</div>
					<button id="tweetSubmit" class="right btn btn-primary" ng-disabled="tweetForm.$invalid" type="submit"><span class="glyphicon glyphicon-pencil"></span>Tweet</button>
				</div>
			</form>
		</div>
	</div><br/>

	<!-- Tweet  -->
	<div class="panel panel-info">
		<div class="panel-heading">My Tweet List</div>
		<div class="panel-body">
			<ul ng-repeat="tweet in profile.tweets">		
				<div class="row listRow">
					<div class="col-xs-2 iconGroup">
						<img ng-src="{{tweet.user.profile_image_url}}" class="img-circle tweetIcon">
					</div>
					<div class="col-xs-10 tweetContents">
						<small>{{tweet.user.name}} </small>
						<span id="tweetDate" class="right" ng-bind-html="profile.parseDate(tweet.created_at)"></span><br/>
						<span ng-bind-html="tweet.text"></span>
					</div>
				</div>
			</ul>
		</div>
	</div>		
</div>
